
@{
    Layout = null;
}
@model GET2WORK_.Controllers.ProjectObjectWrapper

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Project.Name</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />

</head>
<body class="container-fluid">
    <div class="col-md-10 row">
        <h3>Thoughts about @Model.Project.Name</h3>
        @using (Html.BeginForm("CreateQA", "Project", FormMethod.Post))
        {
            <div class="form-group">
                <label for="QuestionId">Question</label>
                <input class="form-control" id="QuestionId" name="q" placeholder="Question ?" />
            </div>
            <div class="form-group">
                <label for="mde">Answer</label>
                <textarea class="form-control" id="mde" name="a" rows="8" placeholder="Thoughts..."></textarea>
            </div>
            <input type="hidden" value="@Model.Project.ProjectId" name="idProject" />
            <button type="submit" class="btn btn-default">Ajouter</button>
        }
    </div>
<div class="col-md-10 row">
    <h3>Thoughts Bubbles</h3>
    <table class="table table-condensed">
        <tbody>
        @foreach (var q in Model.Questions)
        {
            <tr>
                <td>
                    <p>@q.QuestionText</p>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE({ element: $("#mde")[0] });
</script>
</body>
</html>
