
@{
    Layout = "~/Views/_Layout.cshtml";
}
@using ThoughtBubbles.Models

<div class="col-md-12 row">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Ajouter un projet
    </button>
    <table class="table">
        <thead>
            <tr>
                <td>Projects</td>
                <td>Morning</td>
                <td>Afternoon</td>
            </tr>
        </thead>
        @foreach (Project project in Model.Projects)
            {
            <tr>
                <td>@Html.ActionLink(project.Name, "Index", "Project", new { id = project.ProjectId }, null)</td>
                <td>E</td>
                <td>E</td>
            </tr>
        }
    </table>

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter un projet</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Home", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="ProjectTitle">Project Title</label>
                        <input class="form-control" id="ProjectTitle" name="ProjectTitle" placeholder="Title" />
                    </div>
                    <button type="submit" class="btn btn-default">Ajouter</button>
                }
            </div>
        </div>
    </div>
</div>
